.container {
  display: flex;
  gap: 24px;
  padding: 44px 24px;
  background: #fff;
  @media (max-width: 768px) {
    padding: 45px 10px;
  }
}

.left {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sidebar {
  flex: 1;

  @media (max-width: 768px) {
    display: none;
  }
}

.categoryPage {
  background: #fff;
  padding: 16px;
  display: flex;
  margin-bottom: 20px;
  //   width: 100%;
  border-bottom: 1px solid #85949c3f;

  @media (max-width: 576px) {
    // display: flex;
    // border: 1px solid red;
    padding: 5px;
    margin-bottom: 15px;
  }
}

.categoryImage {
  width: 100%;
  min-width: 130px;
  height: 250px;
  // max-width: 100%;
  object-fit: cover;
  padding: 5px;
  // border: 1px solid red;

  @media (max-width: 768px) {
    min-width: 100px;

    padding: 5px;
    margin: 0;
    height: 120px;
  }
}
.categoryContent {
  padding-left: 5px;
  width: 100%;
  @media (max-width: 576px) {
    // max-width: 200px;
    display: flex;
    flex-direction: column;
  }
  .title {
    font-size: 1.1rem;
    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
  }
  .description {
    font-size: 0.91rem;
    color: #404040;
    font-weight: normal;
    @media (max-width: 768px) {
      padding: 0 15px;
      display: none;
    }
  }
}

// style={{ width: "100%", height: "130px", objectFit: "cover" }}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 0 24px;

  @media (max-width: 768px) {
    padding: 0 10px;
  }

  h2 {
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
  }
}
.title {
  font-weight: 500;
  font-size: 14px;
  padding: 4px 0 5px;

  &:hover {
    color: #006ba0;
  }
}

.grid {
  //   display: grid;
  //   grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  //   gap: 16px;
  //   display: flex;
  //   border: 1px solid red;

  @media (max-width: 576px) {
    // grid-template-columns: 1fr;
  }
}
